{{> head}}

    {{> navbar}}

    <div class="row">

        <div class="col-6">
            <h1>Batman...!</h1>
            <p>NA NA NA NA NA NA NA NA NA NA NA NA NA NA BATMAN!!!</p>
            <p>NA NA NA NA NA NA NA NA NA NA NA NA NA NA BATMAN!!!</p>
            <p>NA NA NA NA NA NA NA NA NA NA NA NA NA NA BATMAN!!!</p>
        </div>

        <div class="col-6">
            <img src="/assets/img/batman.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer}}